<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>| Login - Heladeria |</title>
        <link th:href="@{/css/login.css}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <!-- Icono -->
        <link th:href="@{/imagenes/1.jpg}" rel="icon" type="image/x-icon">
    </head>
    <body>
        <!-- CONTENIDO PRINCIPAL -->
        <div class="container">
            <div class="container-form">
                <form class="sign-in" method="post" th:action="@{/login}">
                    <h2>Iniciar Sesión</h2>
                    <div class="social-networks">
                        <ion-icon name="logo-instagram"></ion-icon>
                        <ion-icon name="logo-facebook"></ion-icon>
                        <ion-icon name="logo-tiktok"></ion-icon>
                    </div>
                    <span>Use su username y contraseña</span>
                    <div class="container-input">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="text" name="username" placeholder="username" required>
                    </div>
                    <div class="container-input">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" placeholder="Password" required>
                        <i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i>
                    </div>

                    <a href="#">¿Olvidaste tu contraseña?</a>
                    <button type="submit" class="button">INICIAR SESIÓN</button>
                    <p> </p>
                    </br>

                    <!--<div th:if="${error}" th:text="${error}" class="error-message"></div>-->
                    <div th:if="${param.error}" 
                         th:class="'alert alert-danger2'">
                        Usuario o contraseña inválidos.
                    </div>
                </form>
            </div>

            <div class="container-form">
                <form class="sign-up" method="POST" th:action="@{/registrar}">
                    <h2>Registrarse</h2>
                    <div class="social-networks">
                        <ion-icon name="logo-instagram"></ion-icon>
                        <ion-icon name="logo-facebook"></ion-icon>
                        <ion-icon name="logo-tiktok"></ion-icon>
                    </div>
                    <span>Use su correo electrónico para registrarse</span>

                    <!-- Mensajes de éxito y error -->
                    <div th:if="${registroExitoso}" class="alert alert-success" th:text="${registroExitoso}"></div>
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>


                    <div class="container-input">
                        <ion-icon name="person-outline"></ion-icon>
                        <input type="text" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="container-input">
                        <ion-icon name="mail-outline"></ion-icon>
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="container-input">
                        <ion-icon name="lock-closed-outline"></ion-icon>
                        <input type="password" name="password" placeholder="Password" required>
                        <i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i>
                    </div>
                    <button type="submit" class="button">REGISTRARSE</button>

                </form>

            </div>

            <div class="container-welcome">
                <div class="welcome-sign-up welcome">
                    <h3>¡Bienvenido!</h3>
                    <p>Ingrese sus credenciales para acceder!
                    </p>
                    <button class="button" id="btn-sign-up">Registrarse</button>
                </div>
                <div class="welcome-sign-in welcome">
                    <h3>¡Hola!</h3>
                    <p>Ingrese un correo válido para recibir un código de verificación, 
                        activar su cuenta y disfrutar de todas las funcionalidades de nuestro sitio web.</p>
                    <button class="button" id="btn-sign-in">Iniciar Sesión</button>
                </div>
            </div>
        </div>

        <script th:src="@{/js/login.js}"></script>
        <!-- Ionicons JS -->
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
    </body>
</html>
