<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ArteMístico | Iniciar Sesión</title>
        <link th:href="@{/css/login.css}" rel="stylesheet">
        
        <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:wght@500;700&family=Quicksand:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        
        <link th:href="@{/imagenes/1.jpg}" rel="icon" type="image/x-icon">
    </head>
    <body>
        <div class="container">
            <div class="container-form">
                <form class="sign-in" method="post" th:action="@{/login}">
                    <h2>Iniciar Sesión</h2>
                    <div class="social-networks">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-tiktok"></i>
                    </div>
                    <span>Use su correo electrónico y contraseña</span>
                    <div class="container-input">
                        <i class="fas fa-user"></i>
                        <input type="text" name="username" placeholder="Correo Electrónico" required>
                    </div>
                    <div class="container-input">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Contraseña" required>
                        <i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i>
                    </div>

                    <a href="#">¿Olvidaste tu contraseña?</a>
                    <button type="submit" class="button">INICIAR SESIÓN</button>
                    <p> </p>
                    </br>

                    <div th:if="${param.error}" 
                          th:class="'alert alert-danger2'">
                        Usuario o contraseña inválidos.
                    </div>
                </form>
            </div>

            <div class="container-form">
                <form class="sign-up" method="POST" th:action="@{/registrar}">
                    <h2>Registrarse</h2>
                    <div class="social-networks">
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-tiktok"></i>
                    </div>
                    <span>Use su correo electrónico para registrarse</span>

                    <div th:if="${registroExitoso}" class="alert alert-success" th:text="${registroExitoso}"></div>
                    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>


                    <div class="container-input">
                        <i class="fas fa-user"></i>
                        <input type="text" name="nombre" placeholder="Nombre" required>
                    </div>
                    <div class="container-input">
                        <i class="fas fa-envelope"></i>
                        <input type="email" name="email" placeholder="Email" required>
                    </div>
                    <div class="container-input">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" required>
                        <i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i>
                    </div>
                    <button type="submit" class="button">REGISTRARSE</button>
                </form>
            </div>

            <div class="container-welcome">
                <div class="welcome-sign-up welcome">
                    <h3>¡Bienvenido!</h3>
                    <p>Ingrese sus credenciales para acceder!
                    </p>
                    <button class="button" id="btn-sign-up">Registrarse</button>
                </div>
                <div class="welcome-sign-in welcome">
                    <h3>¡Hola!</h3>
                    <p>Ingrese un correo válido para recibir un código de verificación, 
                        activar su cuenta y disfrutar de todas las funcionalidades de nuestro sitio web.</p>
                    <button class="button" id="btn-sign-in">Iniciar Sesión</button>
                </div>
            </div>
        </div>

        <script th:src="@{/js/login.js}"></script>
    </body>
</html>