@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

.account-top-banner {
    background-color: #E8E6D9;
    padding: 0.5rem 2rem;
    text-align: center;
    position: relative;
    margin-top: 30px;
}

.account-banner-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
}

.account-page-title {
    color: #333;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
    letter-spacing: 0.5px;
}

.account-home-link {
    color: #666;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

h1, h2, h5, h6 {
    color: #343a40;
}

h6 {
     font-size: 1.1rem;     /* Tamaño de fuente */
    font-weight: 500;      /* Grosor del texto */
    margin-bottom: 1rem;   /* Separación inferior entre cada <h6> */
}

.texto-rojo {
    color: darksalmon; /* Color rojo */
    font-weight: bold; /* Opcional: para resaltar más */
}

/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Tarjetas principales */
.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card-body {
    padding: 20px;
    margin-top: -15px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #343a40;
    border-bottom: 2px solid darksalmon;
    display: inline-block;
}

/* Estilo de la tabla */
.table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
    text-align: left;
}

.table th {
    background-color: darksalmon;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.table td {
    padding: 10px;
    text-align: center;
}

.table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Resumen orden */
.list-group {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    margin-top: 20px;
}

.list-group-item {
    font-size: 1.2rem;
    font-weight: bold;
    color: #007bff;
    text-align: center;
}

/* Botones */
.btn {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: darksalmon;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
    }

    .row {
        flex-direction: column;
    }

    .col-lg-9, .col-lg-3 {
        width: 100%;
    }

    .btn {
        font-size: 0.9rem;
    }
}
